[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
twitter = "*"
jupyter = "*"
tweepy = "*"
jupytext = "*"
pyyaml = "*"
pathlib = "*"
pandas = "*"

[requires]
python_version = "3.6"
